.TextHeaderCell {
  height: 32px;
  padding-bottom: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__content {
    font-size: 14px;
    color: #909090;
    font-weight: bold;
  }
}